{% load static %}

<div id="footer">
    <div class="container text-center">
      <div class="social">
        <ul>
          <li><a href="https://www.linkedin.com/in/ajeet-singh-kushwaha-aa399a92"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="https://github.com/ajeetsingh1646"><i class="fa fa-github"></i></a></li>
          <li><a href="https://twitter.com/ajeetsingh1646"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/__ajeetsingh/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCCppgPXjP2DlvsHl-nL6iVg"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
      <div>
        <p>&copy; 2016 NEST. All rights reserved. Designed by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
      </div>
    </div>
  </div>
  